body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(19, 128, 100, 0.233);
}
h1, h2, h3{
    text-align: center;
}
h3{
    display: flex;
    color: white;
    background-color: rgba(19, 128, 101, 0.918);;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
}
.text{
    font-size: 22px;
}
form{
    border: 1px dotted rgb(5, 51, 13);
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: max-content;
    border-radius: 15px;
    background-color: rgba(5, 51, 13, 0.116);
}
select{
    height: 35px;
    width: 175px;
    margin: 15px;
    border: 1px dotted rgb(6, 6, 94);
}
input{
    height: 29px;
    width: 167px;
    margin: 15px;
}
.radio_fuel, .radio_PTS, .owner, .payment{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin: 15px;
}

.radio_par{
    justify-self: end;
    padding-top: 4px;
}
.radioinput{
    height: 15px;
    width: 15px;
    display: grid;
    margin: 5px;
}
label{
    height: 15px;
    justify-self: start;
    text-align: center;
    padding-left: 5px;
}
.totaltext, .totalprice{
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(8, 65, 20, 0.3);
    align-content: end;
    border-radius: 5px;

}
.totaltext{
    justify-self: end;
    text-align: center;
    padding: 10px;
}
.totalprice{
    justify-self: start;
    padding: 23px 10px 10px 10px;
}
.button{
    justify-content: center;
    display: flex;
}
button{
    color: white;
    background-color: rgba(8, 65, 20, 0.5);
    height: 35px;
    width: 175px;
    border-radius: 10px;
    border: 2px rgba(8, 65, 20, 0.993);
    margin-top: 10px;
}